.container {
  position: relative;
  height: 100vh;
}

.header {
  width: 100%;
}

.image {
  width: 100%;
  height: auto;
}

.contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 150px);
  height: calc(100vh - 4rem);
  background-color: #1b1d1f;
  padding: 80px;

  h1 {
    color: #fef7ee;
    text-align: center;
  }

  .sub {
    width: 450px;
    color: #6f757c;
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
  }

  .tabs {
    margin: 8px auto;
    text-align: center;
  }

  input[type='radio'] {
    display: none;
  }
  input[type='radio']:checked + label {
    background-color: #6f757c;
    border-radius: 8px;
  }

  label {
    display: inline-block;
    padding: 10px;
    color: #fef7ee;
    font-size: 14px;
  }
}
.list {
  display: flex;
  flex-wrap: wrap;
  li {
    margin-top: 20px;
    list-style-type: none;
    flex-basis: 33%;
  }
  img {
    border-radius: 10px;
  }
}
